# aliases for bash and zsh

# aliases commands
alias zsh="nano ~/.zshrc"
alias reload='source ~/.zshrc'
alias up="sudo apt update -y && sudo apt upgrade -y"
alias update="sudo apt update"
alias upgrade="sudo apt upgrade"

# alias navigation
alias bat=batcat
alias cls=clear
alias dev="cd ~/dev/"

# alias docker
alias "docker-start"="sudo service docker start"
alias "docker-stop"="sudo service docker stop"
alias "docker-rm"='docker rm $(docker ps -a -q)'

# alias python
alias python=python3
alias py=python3
alias ipy=ipython
alias activate="source .venv/bin/activate"
alias "pip-upgrade"="python3 -m pip install --upgrade pip"
alias "install-ipykernel"="pip install ipykernel"
alias "install-kernel"='python -m ipykernel install --user --name .venv --display-name "Python (.venv)"'
alias "install-link"="python3 -m pip install mrx-link"